@import "ui-variables";
@import "octicon-mixins";

.command-output {
  background-color: transparent;
  height: 100vh;
  position:relative;
  width:500px;
  max-height: 100%;
  overflow-y: scroll;
  color: black;
  background: #fff;
  font-size: 2em;
  overflow-x:scroll;
}